In [1]:
from scipy.spatial.distance import pdist, squareform
import pandas as pd

In [2]:
glove = pd.read_csv('~/research/words/GloVe/glove.6B/glove.6B.50d.txt', sep="\ ", header=None)
elp = pd.read_csv('../words/elp/elp_full_5.27.16.csv')

<ipython-input-2-3a766128d44b>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  glove = pd.read_csv('~/research/words/GloVe/glove.6B/glove.6B.50d.txt', sep="\ ", header=None)

In [3]:
elp = [word.lower() for word in elp['Word'].tolist() if isinstance(word, str)]
targets = pd.read_excel('data/Final_60_new_2.xlsx')['Word'].tolist()
targets = [word.lower() for word in targets]
glove = glove[glove[0].isin(elp)]

In [4]:
vectors = glove.iloc[:, 1:51]

# Convert the selected columns to a NumPy array
GloVe = vectors.values

Come back to this. There are 6 fewer elements than expected when getting the indices.

In [16]:
target_indices = [i for i, e in enumerate(glove[0].tolist()) if e in targets]

In [6]:
dists = pdist(GloVe, metric='euclidean')

In [7]:
dists_square = squareform(dists)

In [9]:
dists_targets = dists_square[target_indices, :]

[2190,
 5350,
 5591,
 6132,
 6741,
 7032,
 7098,
 7156,
 7213,
 7397,
 7562,
 7922,
 8238,
 8418,
 8508,
 8547,
 8910,
 8933,
 9031,
 9180,
 9337,
 10357,
 10710,
 11023,
 12436,
 12725,
 12794,
 12943,
 13191,
 13437,
 14187,
 14217,
 15137,
 15599,
 16165,
 16454,
 17026,
 17803,
 19113,
 19230,
 20424,
 20449,
 20689,
 21154,
 21256,
 21406,
 21418,
 21459,
 21879,
 22065,
 22485,
 23524,
 24065,
 24095]

In [64]:
df = pd.DataFrame(dists_targets, columns=glove[0].str.upper().tolist(), index=[e.upper() for e in glove[0].tolist() if e in targets])

In [65]:
df.head()

,THE,OF,TO,AND,IN,A,FOR,THAT,ON,IS,...,UNMATED,COMMUNICATIONAL,LUXURIANCE,JURISPRUDENT,FOURPENCE,CLODHOPPERS,PIGGYBANK,COUTH,SONGFUL,OVEREXPOSE
NEIGHBORHOOD,5.537188,5.454186,5.778937,5.372251,5.075385,5.538414,5.809763,6.027148,5.539150,5.366524,...,7.353847,7.006583,6.966288,7.322810,7.320214,6.918226,6.816828,7.038348,6.978406,7.163707
MEDIEVAL,5.331460,5.220818,6.438482,5.733350,5.512200,6.233296,6.393500,6.442787,6.262085,5.854942,...,8.132338,6.881811,6.867602,6.753911,7.456687,6.925665,7.063557,7.691057,6.986361,7.423767
PHENOMENON,4.796361,4.569453,5.309451,4.896222,4.934736,5.102699,5.130629,4.473644,5.215102,4.214932,...,6.422862,6.053071,5.775753,6.138313,6.305156,6.051639,6.041706,6.285155,5.506292,6.303910
ENTHUSIASM,5.465676,5.284240,5.183630,5.086532,5.584098,5.635369,5.157272,5.057393,5.477061,5.579421,...,6.416567,6.083912,5.709696,6.382689,5.997288,6.287816,5.792473,6.175050,5.931410,5.920060
DIABETES,6.845480,6.200959,6.550181,6.154016,6.421822,6.878750,6.239333,6.353124,7.045446,6.278766,...,7.180583,6.923108,7.216983,6.842287,7.308373,6.596407,7.424602,6.926755,6.760757,7.418164

In [73]:
distances = df.reset_index().melt(id_vars='index', var_name='Pair', value_name='Distance')

In [74]:
distances.columns = ['target', 'pair', 'distance']

In [75]:
distances.head()

         target pair  distance
0  NEIGHBORHOOD  THE  5.537188
1      MEDIEVAL  THE  5.331460
2    PHENOMENON  THE  4.796361
3    ENTHUSIASM  THE  5.465676
4      DIABETES  THE  6.845480

In [76]:
distances.to_csv('data/semantic_distances_among_targets.csv', index = False)